{% load static %}

<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'liste/style.css' %}" />
    
    </head>

    <body>

        <nav>
          <a href="{% url 'hello' %}">Accueil</a>
          <a href="{% url 'band-list' %}">Groupes</a>
          <a href="{% url 'annonce-list' %}">Annonces</a>
          <a href="{% url 'about-us' %}">A propos de nous</a>
          <a href="{% url 'contact' %}">Contactez-nous</a>
        </nav>
     
        {% block content %}{% endblock %}
     
    </body>

</html>